/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* set 1rem to 10px */
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: sans-serif;
}

/* Remove default list styles */
ul, ol {
    list-style: none;
}

/* Remove default hyperlink styles */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove default button styles */
button, input[type="button"], input[type="submit"] {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

/* Remove default form field styles */
input[type="text"], input[type="password"], textarea, select {
    font-size: inherit;
    font-family: inherit;
    border: none;
    outline: none;
    background: transparent;
    appearance: none;
}

/* Set a default max-width for images and other media */
img, video, iframe, embed {
    max-width: 100%;
    height: auto;
}

@font-face {
    font-family: 'Nike Futura';
    src: url('../fonts/Nike-Font/Futura\ Condensed\ Extra\ Bold.otf') format('truetype');
}

body {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: fit-content;
    padding-top: 13rem;
}

#main {
    margin: 0 48px;
    min-height: 40rem;
}

/* Header */
header {
    background-color: #ffffff;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.top-header {
    height: 4rem;
    margin: 0 48px;
    font-size: 1.2rem;
}

#right-top-header, #right-top-header li {
    display: inline-block;
    line-height: 4rem;
}

.top-header a svg, #logo-nike {
    fill: #000000;
}

.top-header a:hover svg, #logo-nike:hover {
    fill: #757575;
    transition: fill .1s;
}

.top-header li:hover {
    color: #757575;
}

#right-top-header li {
    padding: 0 5px;
    cursor: pointer;
}

#right-top-header {
    float: right;
    clear: both;
}

.navbar {
    display: flex;
    position: relative;
    background-color: #ffffff;
    padding: 0 48px;
}

.logo {
    width: fit-content;
    float: left;
}

.logo svg {
    transform: scale(1.25);
}

nav {
    width: 100%;
    line-height: 60px;
}

.nav-item {
    display: inline-block;
    cursor: pointer;
    padding: 0 2rem;
    font-size: 1.8rem;
}
.navbar-collapse {
    text-align: center;

}
.navbar-nav {
    width:100%;
    text-align: center;
    justify-content: center;
}

.container-fluid {
    width: 100%;
    padding: 0;
}

#action-btn {
    width: 8%;
    float: right;
    line-height: 60px;
    padding:0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.search-box {
    width: 17%;
    height: fit-content;
}

.search-box-open {
    position: absolute;
    width: 100%;
    top: -5rem;
    left: 0;
    background-color: white;
    padding: 0 48px;
    padding-top: 10px;
    text-align: center;
}
.cancel-search-box {
    display: none;
    float: right;
    height: 40px;
    line-height: 1;
}
.cancel-search-box-btn {
    font-weight: 600;
    color: hsla(0, 0%, 7%, .36);
    height: 40px;
    text-align: center;
    line-height: 1;
}
.search-input-box {
    width: 100%;
    background-color: rgb(243, 243, 243);
    height: 40px;
    line-height: 40px;
    border-radius: 60px;
    position: relative;
}

.search-input-box-open {
    width: 50%;
    display: inline-block;
    background-color: #eaeaea;
}

.search-btn {
    width: 4rem;
    border-radius: 60px;
    display: inline-block;
    float: left;
    text-align: center;
}

.search-btn:hover, #clear-search-input:hover {
    background-color: #dadada;
}
.search-input-box i {
    font-size: 1.8rem;
}

.search-input-box input {
    width: calc(100% - 4rem - 5px);
    font-size: 1.6rem;
    font-weight: lighter;
    margin-left: 5px;
    float: left
}
#clear-search-input {
    display: none;
    width: 4rem;
    border-radius: 60px;
    float: right;
}

.search-input-box input::placeholder {
    font-size: 1.6rem;
    color: rgb(215, 215, 215);
}

.search-input-box:hover {
    background-color: #eaeaea;
}

.search-frame {
    position: absolute;
    display: none;
    color: black;
    z-index: 999;
    left: 0;
    width: 100%;
    min-height: 30rem;
    background-color: white;
    padding: 0 48px;
    cursor: default;
    text-align: left;
}

/* sub-nav on the top */
.sub-nav-title::before {
    content: "";
    display: block;
    cursor: default;
    padding-top: 1.2rem;
}

.sub-nav-box li {
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
    transition: transform 0.1ms, opacity 0ms;
}

.sub-nav-box {
    position: absolute;
    z-index: 9;
    left: -48px;
    width: calc(100% + 96px);
    padding: 1.6rem 4rem 5rem 4rem;
    background-color: #ffffff;
    margin-top: 2px;
    cursor: default;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
    transition: transform 0.25s ease,opacity 0ms,visibility 0ms;
}


.nav-item:hover {
    border-bottom: 2px solid #111 !important;
}

.nav-item:hover .sub-nav-box {
    visibility: visible;
    opacity: 1;
    transform: translateY(0) scaleY(1);
    transition: transform 0.35s ease,opacity 0ms linear 0.1s,visibility 0.3s linear 0.1s;
}

.nav-item:hover .sub-nav-box li {
    opacity: 1;
    transform: translateY(0) scaleY(1);
    transition: transform 0.15s ease 0.2s, opacity 0.5s ease 0.2s;
}

.sub-nav-item li:hover a {
    color: #111;
}


.sub-nav .sub-nav-item {
    display: inline-block;
    vertical-align: top;
}

.sub-nav .sub-nav-item ul {
    text-align: left;
    line-height: 3;
}

.sub-nav .sub-nav-item li {
    cursor: pointer !important;
    text-align: left;
    color: #757575;
    font-size: 1.4rem;
    width: 21rem;
    line-height: 1.8;
}
/* /Header */





/* Midle */
.main-content{
    padding: 0 48px;
}
figure {
    /* text-align: center; */
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 25%;
    left: 10%;
    color: #ffffff;
}

figcaption h3 {
    font-size: 6.6rem;
    line-height: 0.9;
    text-transform: uppercase;
    font-family: "Nike Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.main-content-btn {
    border-radius: 60px;
    line-height: 3.2rem;
    font-size: 1.7rem;
    padding: 5px 2rem;
    background-color: #000000;
    color: #fff;
}

.main-content-btn:hover {
    background-color: hsla(0, 0%, 7%, .36);
}

.img-fluid{
    width:100%;
}

.content-row-btn {
    top: 50%;
    margin-left: 3rem;
}
.title-content-box h2{
    font-size: 3rem;
}
.card{
    border: 0;
}
.card-body {
    padding-left: 0;
    padding-right: 0;
}

.categories-shoes-btn {
    line-height: 3.2rem;
    font-size: 1.7rem;
    padding: 5px 1rem;
    background-color: transparent;
    border-bottom: 1px solid black;
    border-radius:0;
}

.categories-shoes-btn:hover {
    border-bottom: 1px solid #ff006e;
    color: #ff006e;
}
/* /Midle */
/* Footer */
footer {
    margin-top: 8rem;
    background: #111;
    padding: 4rem 8rem 0 8rem;
    font-size: 1.2rem;
    color: #7e7e7e;
    position: relative;
    clear: both;
}

#main-footer {
    height: 20rem;
}

.footer-column {
    display: inline-block;
    width: 17%;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 3rem;
}

.footer-column ul {
    padding-left: 0;
}
.footer-column h5 {
    font-size: 1.2rem;
    color: white;
    font-weight: 800;
}

#contact-nike {
    float: right;
    text-align: right;
}

#contact-nike ul {
    width: max-content;
}
#contact-nike span {
    display: none;
}
.social-link-icon {
    fill: #7e7e7e;
    transition: fill .2s;
    margin: 0 0.8rem;
}

.social-link-list {
    display: inline-block;
}

.item-sub-footer {
    display: inline-block;
}

.item-sub-footer h5,
.item-sub-footer p,
.item-sub-footer li {
    display: inline-block;
}

.left-sub-footer {
    float: left;
}

.right-sub-footer {
    float: right;
}

footer h5 {
    color: white;
}

#footer-links {
    font-weight: 800;
    font-size: 1.2rem;
    color: white;
}

footer a:hover {
    color: white;
}


.social-link-icon:hover {
    fill: #ffffff;
    transition: fill .2s;
}

.right-sub-footer li {
    padding: 0 1.2rem;
}


#sub-footer {
    margin-top: 3rem;
}

.footer-title {
    font-weight: 800;
    color: white;
}

.list-item-right-subfooter {
    padding: 0 1.2rem;
    line-height: 4rem;
    /*(1)*/
}

.guides-dropdown-menu-box {
    position: absolute;
    bottom: 4rem;
    /*(1)*/
    left: 50%;
    display: none;
}

#guides-footer:hover .guides-dropdown-menu-box {
    display: block;
}

#table-guides {
    display: block;
    padding-inline-start: 0;
    line-height: 2.8rem;
    padding: 2rem 2.8rem 2rem 0;
    border: 2px solid #ffffff;
    width: 90%;
}

#table-guides li {
    display: inline-block;
    width: 21rem;
}

.blur-screen {
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    background-color: #757575;
    background-color: hsla(0, 0%, 7%, .36);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    position: fixed;
    display: block;
    visibility: hidden;
}
/* /Footer */

/*Default pixel size = 10px */
/* Tablet: width 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 62em) {
    /*Header */
    /*Header */
    .navbar {
        padding: 0;
        display: block;
        height: 5rem;
    }

    .logo {
        height: 5rem !important;
        display: flex;
        align-items: center;
    }

    .logo svg {
        height: 5rem !important;
        width: 5rem;
        align-items: center;
    }

    .top-header {
        display: none;
    }

    .container-fluid {
        display: inline-block !important;
        background-color: white;
    }
    .search-box {
        width: calc(100% - 22rem);
        display: inline-block;
    }
    .search-input-box-open {
        width: 70%;
    }
    .search-box-open {
        width: 100%;
        top: 0;
        left: 0;
        padding: 0 24px;
        padding-top: 10px;
    }
    .search-frame {
        padding: 0 24px;
    }

    .navbar-toggler {
        font-size: 2rem;
        float: right;
        height: 5rem;
        width: 5rem;
    }

    #action-btn {
        width: 10rem;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        float: right;
        height: 5rem;
        line-height: 5rem;
    }

    #action-btn a {
        padding: 0 1rem;
    }

    /*Midle*/
    .main-content {
        padding: 0 24px;
    }

    /*Footer*/
    footer {
        padding: 2rem 2rem 0 2rem;
        clear: both;
        bottom:0;
    }
    .footer-column {
        display: block;
        width: 100%;
        text-align: center;
    }
    #contact-nike ul {
        width: 100%;
        margin-bottom:0;
    }
    #contact-nike span {
        display: inline-block;
    }
    .footer-column ul {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
    .footer-column a {
        font-size:1.2rem;
    }
    .footer-column ul li {
        width: 25%;
    }

    .footer-column h5 {
        font-size: 1.2rem;
        color: white;
        font-weight: 800;
    }

    .social-link-list {
        text-align: center;
        align-items: center;
    }


    .item-sub-footer {
        display: block;
    }

    .left-sub-footer {
        float: none;
        text-align: center;
    }

    .right-sub-footer {
        float: none;
        text-align: center;
    }

    #sub-footer {
        margin-top: 0;
    }
}

/*Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    /*Header */
    .navbar{
        padding:0;
        display: block;
    }

    .logo {
        height: 40px !important;
        display:flex;
        align-items: center;
    }
    .logo svg{
        height: 40px!important;
        width:40px;
        align-items:center;
    }
     
    .top-header {
        display: none;
    }

    .container-fluid {
        display: inline-block!important;
    }

    .search-box {
        width: calc(100% - 22rem);
        display: inline-block;
    }

    .search-input-box-open {
        width: 70%;
    }

    .search-box-open {
        width: 100%;
        top: 0;
        left: 0;
        padding: 0 24px;
        padding-top: 10px;
    }
    .search-frame {
        padding: 0 24px;
    }
    .search-input-box button {
        float: left;
    }
    .navbar-toggler {
        font-size: 2rem;
        float: right;
        height:4rem;
    }
    #action-btn {
        width: fit-content;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        float: right;
        height: 4rem;
        line-height: 4rem;
    }
    #action-btn a {
        padding: 0 1rem;
    }
    /*Midle*/
    .main-content{
        padding: 0 24px;
    }
    /*Footer*/
    footer {
        margin-top: 4rem;
        padding: 1rem 2rem 0 2rem;

    }
    #main-footer {
        height: fit-content;
    }
    .footer-column {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 1.2rem !important;
    }
    #contact-nike ul {
        width: 100%;
        margin-bottom: 1rem;
    }
    #contact-nike span {
        display: inline-block;
    }
    .footer-column ul {
        display: block;
        justify-content: center;
        padding-left: 0;
        margin:0;
    }

    .footer-column ul li {
        width: 100%;
    }

    .footer-column h5 {
        font-size: 1.2rem;
        color: white;
        font-weight: 800;
    }

    .social-link-list {
        text-align: center;
        align-items: center;
        margin-top: 1rem;
    }


    .item-sub-footer {
        display: block;
    }

    .left-sub-footer {
        float: none;
        text-align: center;
    }

    .right-sub-footer {
        float: none;
        text-align: center;
    }

    #sub-footer {
        margin-top: 0;
    }
}



/* PC: width >= 1024px */
/*@media only screen and (min-width: 102.4em) {

}*/