
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/AdminLayoutPage.cshtml";
}

<div class="top-content row g-lg-5">
    <div class="col-lg position-relative">
        <div class="card">
            <div class="card-body">
                <a href="#">
                    <h2 class="card-title">Total Order</h2>
                </a>
                <p class="card-text main-card-text">120312.123 <span class="unit">VND</span></p>
                <p class="card-text sub-card-text">0.5%</p>
            </div>
            <div class="card-icon">
                <i class="fa-solid fa-cart-arrow-down"></i>
            </div>
        </div>
    </div>
    <div class="col-lg position-relative">
        <div class="card">
            <div class="card-body">
                <a href="#">
                    <h2 class="card-title">Monthly Sales</h2>
                </a>
                <p class="card-text main-card-text">120312.123 <span class="unit">VND</span></p>
                <p class="card-text sub-card-text">0.5%</p>
            </div>
            <div class="card-icon">
                <i class="fa-solid fa-chart-line"></i>
            </div>
        </div>
    </div>
    <div class="col-lg position-relative">
        <div class="card">
            <div class="card-body">
                <a href="#">
                    <h2 class="card-title">Total Income</h2>
                </a>
                <p class="card-text main-card-text">120312.123 <span class="unit">VND</span></p>
                <p class="card-text sub-card-text">0.5%</p>
            </div>
            <div class="card-icon">
                <i class="fa-solid fa-dollar-sign"></i>
            </div>
        </div>
    </div>
</div>

<div class="body-content">
    <div class="row">
        <div class="item-box col">
            <div class="box-title row">
                <div class="col-6">
                    <h2>Best Selling Products</h2>
                </div>
                <div class="col-6">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonSort" data-bs-toggle="dropdown" aria-expanded="false">
                            Sort <i class="fa-solid fa-arrow-down-1-9"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonSort">
                            <li><a class="dropdown-item" href="#">Ascending Sort <i class="fa-solid fa-arrow-down-1-9"></i></a></li>
                            <li><a class="dropdown-item" href="#">Descending Sort <i class="fa-solid fa-arrow-down-9-1"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="card">
                    <div class="card-serial">
                        <h2 class="serial">1</h2>
                    </div>
                    <div class="card-img">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/e6da41fa-1be4-4ce5-b89c-22be4f1f02d4/air-force-1-07-shoes-WrLlWX.png"
                             alt="Alternate Text" />
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <h2 class="card-title">Nike Air Force 1 '07</h2>
                        </a>
                        <p class="card-text colour">Colour</p>
                        <p class="card-text quantity-sold">Quantity sold: 10</p>
                    </div>
                    <div class="card-statistic">
                        <p class="statistic-amount">100123.23 <span>VND</span></p>
                        <p class="percent">25%</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-serial">
                        <h2 class="serial">2</h2>
                    </div>
                    <div class="card-img">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/e6da41fa-1be4-4ce5-b89c-22be4f1f02d4/air-force-1-07-shoes-WrLlWX.png"
                             alt="Alternate Text" />
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <h2 class="card-title">Nike Air Force 1 '07</h2>
                        </a>
                        <p class="card-text colour">Colour</p>
                        <p class="card-text quantity-sold">Quantity sold: 10</p>
                    </div>
                    <div class="card-statistic">
                        <p class="statistic-amount">100123.23 <span>VND</span></p>
                        <p class="percent">25%</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-serial">
                        <h2 class="serial">3</h2>
                    </div>
                    <div class="card-img">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/e6da41fa-1be4-4ce5-b89c-22be4f1f02d4/air-force-1-07-shoes-WrLlWX.png"
                             alt="Alternate Text" />
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <h2 class="card-title">Nike Air Force 1 '07</h2>
                        </a>
                        <p class="card-text colour">Colour</p>
                        <p class="card-text quantity-sold">Quantity sold: 10</p>
                    </div>
                    <div class="card-statistic">
                        <p class="statistic-amount">100123.23 <span>VND</span></p>
                        <p class="percent">25%</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-serial">
                        <h2 class="serial">4</h2>
                    </div>
                    <div class="card-img">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/e6da41fa-1be4-4ce5-b89c-22be4f1f02d4/air-force-1-07-shoes-WrLlWX.png"
                             alt="Alternate Text" />
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <h2 class="card-title">Nike Air Force 1 '07</h2>
                        </a>
                        <p class="card-text colour">Colour</p>
                        <p class="card-text quantity-sold">Quantity sold: 10</p>
                    </div>
                    <div class="card-statistic">
                        <p class="statistic-amount">100123.23 <span>VND</span></p>
                        <p class="percent">25%</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-serial">
                        <h2 class="serial">5</h2>
                    </div>
                    <div class="card-img">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/e6da41fa-1be4-4ce5-b89c-22be4f1f02d4/air-force-1-07-shoes-WrLlWX.png"
                             alt="Alternate Text" />
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <h2 class="card-title">Nike Air Force 1 '07</h2>
                        </a>
                        <p class="card-text colour">Colour</p>
                        <p class="card-text quantity-sold">Quantity sold: 10</p>
                    </div>
                    <div class="card-statistic">
                        <p class="statistic-amount">100123.23 <span>VND</span></p>
                        <p class="percent">25%</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row home-chart-box">
        <div class="item-box col">
            <div class="box-title row">
                <div class="col-6">
                    <h2>Total Order</h2>
                </div>
                <div class="col-6">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonSort" data-bs-toggle="dropdown" aria-expanded="false">
                            By Month <i class="fa-regular fa-calendar"></i></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonSort">
                            <li><a class="dropdown-item" href="#">By Month</a></li>
                            <li><a class="dropdown-item" href="#">By Year</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="statistic-chart-box">
                <div id="curve_chart" style="width: 100%; height: 100%"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Day', 'Orders', 'Order has been cancelled'],
                ['Jan 21', 1000, 0],
                ['Jan 22', 1170, 10],
                ['Jan 23', 660, 120],
                ['Jan 24', 1030, 2]
            ]);

            var options = {
                title: 'Total order in this month',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }
</script>
