
<header>
    <div class="top-header">
        <div id="right-top-header">
            <ul>
                <li>
                    <a target="_blank"
                       href="@("https://www.google.com/maps/search/Nike/@10.7865558,106.62541,13z/data=!3m1!4b1")">
                        Find a store
                    </a>
                </li>
                <li>| <a href="./sign-in.html" id="sign-in">Sign In</a></li>
                <li>| <a href="./sign-up.html" id="sign-up">Sign Up</a></li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <div id="logo" class="header-item">
                <a href="/index.html">
                    <svg id="logo-nike" viewBox="0 0 24 24" width="60px" height="60px">
                        <path d="M21 8.719L7.836 14.303C6.74 14.768 5.818 15 5.075 15c-.836 0-1.445-.295-1.819-.884-.485-.76-.273-1.982.559-3.272.494-.754 1.122-1.446 1.734-2.108-.144.234-1.415 2.349-.025 3.345.275.2.666.298 1.147.298.386 0 .829-.063 1.316-.19L21 8.719z">
                        </path>
                    </svg>
                </a>
            </div>
            <button class="navbar-toggler header-item" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-item-title" href="./index.html"
                           rel="noopener noreferrer">Home</a>
                        <div class="sub-nav-box">
                            <ul class="sub-nav">
                                <li class="sub-nav-item">
                                    <ul>
                                        <a class="sub-nav-title" href="./index.html">New & Featured</a>
                                        <li><a href="./product-pages/kid-shoes.html">Latest Shoes</a></li>
                                        <li>
                                            <a href="./product-pages/women-clothing.html">Latest Clothing</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sub-nav-item">
                                    <ul>
                                        <a class="sub-nav-title" href="./product-pages/men-clothing.html">
                                            New
                                            For
                                            Men
                                        </a>
                                        <li><a href="./product-pages/men-shoes.html">Shoes</a></li>
                                        <li><a href="./product-pages/men-clothing.html">Clothing</a></li>
                                    </ul>
                                </li>
                                <li class="sub-nav-item">
                                    <ul>
                                        <a class="sub-nav-title" href="./product-pages/women-clothing.html">
                                            New
                                            For
                                            Women
                                        </a>
                                        <li><a href="./product-pages/women-shoes.html">Shoes</a></li>
                                        <li><a href="./product-pages/women-clothing.html">Clothing</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-title" href="./product-pages/men-clothing.html" target="_blank" rel="noopener noreferrer">Men</a>
                        <div class="sub-nav-box">
                            <ul class="sub-nav">
                                <li class="sub-nav-item">
                                    <ul>
                                        <a class="sub-nav-title" href="./product-pages/men-shoes.html">Shoes</a>
                                        <li><a href="./product-pages/men-shoes.html">All Shoes</a></li>
                                    </ul>
                                </li>
                                <li class="sub-nav-item">
                                    <ul>
                                        <a class="sub-nav-title" href="./product-pages/men-clothing.html">Clothing</a>
                                        <li><a href="./product-pages/men-clothing.html">All Clothing</a></li>
                                    </ul>
                                </li>
                                <li class="sub-nav-item">
                                    <ul>
                                        <a class="sub-nav-title" href="./product-pages/men-clothing.html">Sale</a>
                                        <li><a href="./product-pages/men-shoes.html">Shoes</a></li>
                                        <li><a href="./product-pages/men-clothing.html">Clothing</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-title" href="./product-pages/women-clothing.html" target="_blank" rel="noopener noreferrer">Women</a>
                        <div class="sub-nav-box">
                            <ul class="sub-nav">
                                <li class="sub-nav-item">
                                    <ul>
                                        <a class="sub-nav-title" href="./product-pages/women-shoes.html">Shoes</a>
                                        <li><a href="./product-pages/women-shoes.html">All Shoes</a></li>
                                    </ul>
                                </li>
                                <li class="sub-nav-item">
                                    <ul>
                                        <a class="sub-nav-title" href="./product-pages/women-clothing.html">Clothing</a>
                                        <li><a href="./product-pages/women-clothing.html">All Clothing</a></li>
                                    </ul>
                                </li>
                                <li class="sub-nav-item">
                                    <ul>
                                        <a class="sub-nav-title" href="./product-pages/women-clothing.html">Sale</a>
                                        <li><a href="./product-pages/women-shoes.html">Shoes</a></li>
                                        <li><a href="./product-pages/women-clothing.html">Clothing</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-title" href="./product-pages/kid-clothing.html" target="_blank" rel="noopener noreferrer">Sale</a>
                        <div class="sub-nav-box">
                            <ul class="sub-nav">
                                <li class="sub-nav-item">
                                    <ul>
                                        <a class="sub-nav-title" href="./index.html">Featured</a>
                                        <li><a href="./product-pages/kid-clothing.html">Shop All Sale</a></li>
                                    </ul>
                                </li>
                                <li class="sub-nav-item">
                                    <ul>
                                        <a class="sub-nav-title" href="./product-pages/men-shoes.html">Men's sale</a>
                                        <li><a href="./product-pages/men-shoes.html">Shoes</a></li>
                                        <li><a href="./product-pages/men-shoes.html">Clothing</a></li>
                                    </ul>
                                </li>
                                <li class="sub-nav-item">
                                    <ul>
                                        <a class="sub-nav-title" href="./product-pages/women-shoes.html">Women's sale</a>
                                        <li><a href="./product-pages/women-shoes.html">Shoes</a></li>
                                        <li><a href="./product-pages/women-shoes.html">Clothing</a></li>
                                    </ul>
                                </li>
                                <li class="sub-nav-item">
                                    <ul>
                                        <a class="sub-nav-title" href="./product-pages/kid-shoes.html">Kid's sale</a>
                                        <li><a href="./product-pages/kid-shoes.html">Shoes</a></li>
                                        <li><a href="./product-pages/kid-shoes.html">Clothing</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="search-input-box header-item" type="search">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <input type="text" placeholder="Search" style="width: 80%;">
            </div>
            <div id="action-btn" class="header-item" style="font-size: 2.2rem;">
                <a href="./favorite.html" id="favorite" style="float: left;">
                    <i class="fa-sharp fa-regular fa-heart"></i>
                </a>
                <a href="./bag.html" id="bag-shopping" style="float: right;">
                    <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </div>
    </nav>

</header>